<nav class="py-4">
  <cluster-l align="center">
    <%= link_to "izaguirrejoe", "/", class: "font-bold text-lg text-color-emphasis" %>
    <a href="<%= relative_url '/posts' %>">All Posts</a>
  </cluster-l>
</nav>
