---

---

<sl-card class="joe-card">
  <h1> Hi, I'm Joseph Izaguirre </h1>

  <div class="joe-card__content">
    <p> I'm a developer working at the intersection of <strong> Ruby on Rails, Turbo, Stimulus, Turbo Native, and Web Components.</strong>  </p>
    <p> Talk to me about good urbanism.</p>
  </div>

</sl-card>

<div class="latest-posts">
  <h2> Latest Posts </h2>
</div>
