.container{
  padding: var(--size-3) var(--size-3);
  margin-left: auto;
  margin-right: auto;

  @media(--md-n-above){
    max-width: var(--size-sm);
  }

  @media(--lg-n-above){
    max-width: var(--size-md);
  }

  @media(--xl-n-above){
    max-width: var(--size-lg);
  }

  @media(--xxl-n-above){
    max-width: var(--size-xl);
  }
}

.post-container{
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
	padding-inline: var(--size-4);
  margin-bottom: var(--size-14);
}

