@import 'modern-normalize/modern-normalize.css';
@import "variables.css";
@import "container.css";

/* Import the base Shoelace stylesheet: */
@import "@shoelace-style/shoelace/dist/themes/light.css";

body {
  background: white;
  color: var(--text-1);
  font-family: var(--font-sans);
}

p {
  font-size: var(--font-size-3);
  line-height: var(--font-lineheight-4);
}

a {
  color: var(--blue-8);
  text-decoration: none;
  
  &:hover{
    text-decoration: underline;
    text-decoration-color: var(--accent-2);
    text-decoration-thickness: 2px;
  }
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--size-4);

  & > div{
    display: flex;
    gap: var(--size-4);
  }

}

footer{
  display: flex;
  justify-content: center;
  margin-block: var(--size-8);
}

.joe-card{
  display: flex;
	flex-direction: column;
  border: 1px solid var(--gray-2);
  padding: var(--size-4);
  align-items: center;
  gap: var(--size-4);
  border-radius: var(--radius-3);
  max-width: 55rem;
  box-shadow: var(--shadow-2);

	@media (--md-n-above){
		flex-direction: row;
	}
}

.joe-card__name{
  font-size: var(--font-size-4);
}

.joe-card__description > p{
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}

.latest-posts{
  background: var(--surface-2);
}

.home{
  color: inherit;
  text-decoration: none;
}

.post{
  box-shadow: var(--shadow-2);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  border: solid 1px var(--accent-2);

}

.post__time{
  color: var(--gray-6);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-3);
}

.post-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size-14), 1fr));
}

.post_link{
  color: var(--text-1);

  &:hover{
    text-decoration: none;
  }
}

.tag-wrapper{
  margin-block: var(--size-3);
}

.post-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.post-header__name{
	margin-top: var(--size-2);
	font-weight: var(--font-weight-3);
}

.post__description{
	font-size: var(--font-size-1);
}


.page-footer {
  margin-top: var(--size-10);
  & > p{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-2);
    color: var(--teal-9);
  }
}

.page-footer__head{
  font-weight: var(--font-weight-3);
  text-align: center;
}
