<div class="card">
  <stack-l space="var(--size-1)">
    <%= link_to post.data.title, post, class:"font-bold text-lg text-color-emphasis" %>
    <time class="text-sm"> <%= post.data.date.strftime("%b %-d %Y") %> </time>
  </stack-l>
  <p> <%= post.data.description %> </p>
</div>
