<div class="card">
  <stack-l space="var(--size-2)">
    <%= link_to post.data.title, post, class:"font-bold text-lg text-color-emphasis" %>
    <time class="text-sm"> <%= post.data.date.strftime("%b %-d %Y") %> </time>
    <cluster-l space="var(--size-1)">
      <% post.data.tags.each do |tag| %>
        <sl-tag variant="primary" size="small"> <%= tag.sub("_", " ") %> </sl-tag>
      <% end %>
    </cluster-l>
  </stack-l>
  <p> <%= post.data.description %> </p>
</div>
